.selected-products {
  padding-top: 140px;
}
.selected-products__title {
  margin-bottom: 30px;
}
.title {
}
.selected__favorites {
}
.favorites-list {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
  row-gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 499px) {
  .favorites-list {
    justify-content: center;
  }
}