/* header */
.header {
  background-color: var(--color-dark-blue);
}
.header__items {
  padding: 13.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
/* catalog */
.catalog {
	position: relative;
}
.catalog__tabs {
	display: flex;
	align-items: flex-start;
	padding: 15px 20px;
}
.catalog__link {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
}
.catalog__link:hover {
	text-decoration: underline;
}
.catalog__list {
}
.catalog__item:not(:last-child) {
	margin-bottom: 10px;
}

.dropdown {
	position: absolute;
	left: 0;
	z-index: 2;
	top: 100%;
	width: 100%;
	background-color: var(--color-white);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.dropdown--wd {
	width: 540px;
}
.dropdown--active {
	opacity: 1;
	visibility: visible;
	border-radius: 4px;
	box-shadow: 0px 9px 30px -20px rgba(0, 0, 0, 1);
}
/* tabs */
.tabs__list {
	max-width: 230px;
	width: 100%;
}
.tabs__item {
	padding: 10px;
}
.tabs__btn {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
	background-color: transparent;
	font-family: 'Montserrat';
	cursor: pointer;
}
.tabs__btn--active {
	color: var(--color-orange);
}
.tabs__content {
	padding: 10px;
	display: none;
}
.tabs__content--active {
	display: block;
}
/* === */
.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.header-form__item {
  width: 100%;
}
.header-form__input {
  max-width: 528px;
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  border-radius: 4px;
  font-variant: small-caps;
  color: var(--color-black);
	background-color: #F9F9F9;
  border: none;
  outline: none;
}
.header-form__input::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/header/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
/*  */
.header__nav {
  padding-top: 15px;
}
.nav__list {
	display: flex;
	align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.nav__item {
	position: relative;
}
.nav__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-white);
	transition: all 0.3s ease-in-out;
}
.nav__link:hover {
	text-decoration: underline;
}
.nav__link--drop::after {
	content: "";
	width: 10px;
	height: 6px;
	background-image: url("../img/header/arrow_back_ios_new.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 7px;
	transition: transform 0.3s;
}
.nav__list--dropdown {
	position: absolute;
	background-color: var(--color-white);
	right: 0;
	top: 100%;
	padding: 10px 30px 20px;
	display: block;
	box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.2);
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
.dropdown-icon__list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown-submenu {
	display: flex;
	align-items: center;
}

.dropdown-submenu__item {
	flex-grow: 1;
	min-width: 200px;
}
.mobile-back {
	display: none;
}

.dropdown-list__item {
	margin-bottom: 10px;
}
.dropdown-submenu__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.dropdown-submenu__list-item {
	margin-bottom: 10px;
}
.dropdown-submenu__list-item a {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--color-black);
  transition: text-decoration 0.3s ease-in-out;
}
.dropdown-submenu__list-item a:hover {
  text-decoration: underline;
}
@media (min-width: 769px) {
	.nav__item:hover .nav__link--drop::after {
		transform: rotate(180deg);
		transition: all 0.3s ease-in-out;
	}

	.nav__item:hover .nav__list--dropdown {
		visibility: visible;
		opacity: 1;
		transition: all 0.3s;
	}
}
/* burger */
.burger {
	width: 30px;
	height: 20px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	position: relative;
	display: none;
}

.burger::before,
.burger::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-white);
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::after {
	top: auto;
	bottom: 0;
}

.burger span {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	height: 2px;
	display: inline-block;
	background-color: var(--color-white);
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.5);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.lock {
	overflow: hidden;
}

.nav__item:nth-child(-n+3) {
	display: none;
}
.nav__logo-2 {
	display: none;
}
.nav__logo {
	display: none;
}
@media (max-width: 991px) {
	.header-form__button {
		display: none;
	}
}

@media (max-width: 768px) {
	.nav__item:nth-child(-n+3) {
		display: block;
	}
	.header__user {
		display: none;
	}
	.header-form__input {
		padding: 11px 20px;
	}
	.header__items {
		padding: 0;
	}
	.nav__logo-1 {
		display: none;
	}
	.nav__logo-2 {
		display: block;
	}
	.nav__logo {
		display: block;
		padding-left: 60px;
	}
	.nav__user {
		margin: 20px 0;
		padding: 0 15px;
		display: flex;
		align-items: center;
		gap: 10px;
	}
	.user-nav__login {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-family: 'Montserrat';
		color: var(--color-white);
		background-color: transparent;
	}
	.user-nav__registration {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-family: 'Montserrat';
		color: var(--color-white);
		background-color: transparent;
	}
	.header__translation {
		padding: 0 15px;
	}
	.dropdown-submenu__list-icons {
		padding: 10px 15px;
	}
	.header__catalog {
		display: none;
	}

	.burger {
		display: block;
		position: relative;
		z-index: 10;
	}
	

	.mobile-back {
		display: block;
	}

	.header {
		padding: 15px 0;
	}

	.nav {
		position: fixed;
		left: 0;
		top: 0;
		max-width: 400px;
		width: 80%;
		height: 100vh;
		z-index: 10;
		box-shadow: 5px 0 15px -5px rgba(0,0,0, 0.8);
		background-color: var(--color-dark-blue);
		transform: translateX(-150vw);
		overflow-x: hidden;
		overflow-y: auto;
	}

	.nav__list {
		flex-direction: column;
		align-items: flex-start;
		padding: 0;
		position: relative;
	}

	.nav__item {
		margin-left: 0 !important;
		font-size: 20px;
		width: 100%;
		padding: 0;
		position: static;
	}

	.nav__link,
	.dropdown-submenu__list-item a,
	.dropdown-list__link {
		padding: 10px 15px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: var(--color-white);
	}
	.dropdown-submenu__list-item {
		margin-bottom: 0px;
	}
	.nav__link::after {
		transform: rotate(-90deg);
	}

	.nav__list--dropdown {
		position: absolute;
		top: 0;
		right: auto;
		left: 100%;
		box-shadow: none;
		width: 100%;
		display: none;
	}

	.dropdown-submenu__item {
		width: 100%;
		padding: 0;
		border: none !important;
	}

	.dropdown-submenu__title {
		padding: 0 30px;
	}

	.dropdown-submenu__banner {
		display: inline-block;
		padding: 20px;
	}

	.nav__list.transformation {
		transform: translateX(-100%);
		transition: all 0.3s;
	}

	.nav__list--dropdown.transformation {
		opacity: 1;
		visibility: visible;
		display: block;
		transform: none;
		background-color: var(--color-dark-blue);
		transition: all 0.3s;
	}

	.nav.open {
		transform: translateX(0);
		transition: all 0.3s;
	}

	.overlay.open {
		opacity: 1;
		visibility: visible;
		transition: all 0.3s;
	}
	.mobile-back {
		margin-top: 30px;
	}
	.mobile-back a {
		position: relative;
		border: none;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		color: var(--color-white);
	}

	.mobile-back a::before {
		content: "";
		width: 10px;
    height: 6px;
		background-image: url("../img/header/arrow_back_ios_new.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 10px;
		transform: rotate(90deg);
	}
}

@media (max-width: 499px) {
	.header-form__input {
    padding: 10px 15px;
}
}



/* modal */
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.modal {
	background-color: #fff;
	width: 420px;
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}

.modal__body {
	padding: 20px 40px;
}
.modal__item {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.modal__title {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-black);
}
.modal__button {
	background-color: transparent;
	cursor: pointer;
}
.modal__button::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	background-image: url(../img/burger/close.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.form-modal__item {
	margin-bottom: 14px;
}
.form-modal__title {
	margin-bottom: 10px;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	color: var(--color-black);
}
.form-modal__input {
	padding: 15px 20px;
	width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	font-family: 'Montserrat', sans-serif;
	outline: none;
}
.form-modal__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.form-modal__button {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-blue);
	background-color: transparent;
	cursor: pointer;
}
.form-modal__button:hover {
	text-decoration: underline;
}
@media (max-width: 499px) {
	.modal__body {
    padding: 20px 20px;
}
}

/* get-started */
.get-started {
	margin-top: 15px;
}
.get-started__body .catalog {
	display: none;
}
.get-started__body {
	display: flex;
	justify-content: center;	
}
.get-started__image img {
	max-width: 100%;
}
@media (max-width: 768px) {
	.get-started__body .catalog {
		margin-top: 15px;
		display: block;
		order: 2;
	}
	.get-started__body {
		flex-direction: column;
		align-items: center;
	}
	.dropdown {
		left: -128px;
    width: 445px;
	}
}
@media (max-width: 499px) {
	.catalog__tabs {
		padding: 0px;
	}
	.dropdown {
		left: -44px;
    width: 280px;
	}
	.tabs__content {
		padding: 10px 5px;
	}
	.catalog__link {
		font-size: 12px;
	}
}
/* cart */
.cart {
	position: relative;
	transition: background-color 0.3s;
}
.card__button {
	content: '';
	width: 31px;
	height: 20px;
	background-image: url(../img/header/cart_icon.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
.cart__quantity {
	position: absolute;
	right: -5px;
  bottom: 15px;
	background-color: #de707b;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
/* card-modal */
.card-modal {
	width: 1207px;
	padding: 20px 40px 30px 40px;
	overflow: auto;
	height: 840px;
}
.card-modal__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 24px;
}
.card-modal__title {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-black);
}
/* card__content */
.cart-content__empty {
	padding: 24px 0;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-black);
}

.cart-content__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-top: 24px;
}
.cart-content__button {
	padding: 14px 32px;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	color: var(--color-blue);
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid var(--gray, #D9D9D9);
	cursor: pointer;
}
.card-content__group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24px;
}

.fullprice {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: var(--color-black);
}


.cart-product {
	padding: 24px 18px;
	border: 1px solid #D9D9D9;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
}
.cart-product__img {
	width: 83px;
	height: 79px;
	object-fit: cover;
}

.cart-product__text {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--color-black);
	margin-bottom: 14px;
}
.cart-product__text-mg {
	margin-bottom: 8px;
}
.cart-product__title {
	max-width: 290px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
}

.cart-product__wrapper {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	font-size: 18px;
}

.cart-product__control {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 22px;
	height: 36px;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	border-radius: 5px;
}

.cart-product__control:hover {
	cursor: pointer;
	color: var(--color-white);
	background: var(--color-orange);
}
.cart-product__current {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 36px;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	color: var(--color-black);
}

.cart-product__price {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-black);
}
.cart-product__fullprice {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	color: var(--color-black);
}
.cart-product__delete {
	width: 22px;
  height: 24px;
	background-image: url(../img/product/delete.svg);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	align-self: center;
}

@media (max-width: 768px) {
	.cart-product {
		padding: 20px 10px;
	}
	.cart-product__title {
		max-width: 160px;
	}
	.cart-product__price {
		font-size: 14px;
	}
	.cart-product__current {
		width: 35px;
	}
}
@media (max-width: 560px) {
	.cart-product__text {
		display: none;
	}
	.cart-product {
		align-items: center;
	}
}

@media (max-width: 499px) {
	.cart-product {
		flex-wrap: wrap;
	}
}

/* favorites */
.liked {
	position: relative;
}

.liked__quantity {
	position: absolute;
	right: -5px;
  bottom: 15px;
	background-color: #de707b;
	border-radius: 100%;
	padding: 2px;
	color: #fff;
	font-size: 12px;
	min-height: 16px;
	min-width: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.product__liked {
	cursor: pointer;
}
.product__liked.active svg {
	fill: red;
}
/* products */
.products {
	margin-top: 70px;
}
.products-list {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
}
.products__title {
	margin-bottom: 10px;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-black);
}

/* product */
.product {
	max-width: 266px;
	padding: 20px 15px;
	border: 0.5px solid #C8C8C8;
	background-color: #fff;
}
.product__row {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}
.product__stiker {
	padding: 7px 10px;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	border-radius: 50px;
	color: var(--color-white);
}
.product__liked {
	background-color: transparent;
}
.product__stiker--green {
	background-color: var(--color-green);
}
.product__stiker--orange {
	padding: 7px 20px;
	background-color: var(--color-orange);
}
.product__title {
	margin-bottom: 22px;
}
.product__title a {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
}

.product__props {
	margin-top: 22px;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.product__rating {
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	font-weight: 600;
}

.product__testimonials {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-blue);
}

.product-price {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.product-price__current {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
}

.product-price__old {
	margin-left: 10px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #848484;
	text-decoration: line-through;
}
.product__btn.active {
	opacity: 0.4;
	pointer-events: none;
}
.products__container {
	position: relative;
}
/* new-products swiper */
.new-products__wrapper {
	display: flex;
	justify-content: space-between;

}
.new-products__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.new-products__swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
	margin-top: 15px;
	min-height: 16px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -6px;
}
.new-products__swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	background-color: #D9D9D9;
	padding: 2px 2px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	transition:  all 0.3s ease 0s;
}
.new-products__swiper-pagination .swiper-pagination-bullet-active {
	width: 16px;
	height: 16px;
	background-color: var(--color-orange);
}

.new-products__arrows {
	padding: 0 5px;
	position: absolute;
    top: 250px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.new-products__arrow.swiper-button-prev,
.new-products__arrow.swiper-button-next {
    position: static;
    width: 8.925px;
		height: 24px;
    background: url(../img/arrow_right.svg) no-repeat;
}
.new-products__arrow::after {
    display: none;
}
.new-products__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

/* hits-products swiper */
.hits-products__wrapper {
	display: flex;
	justify-content: space-between;

}
.hits-products__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hits-products__swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
	margin-top: 15px;
	min-height: 16px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -6px;
}
.hits-products__swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	background-color: #D9D9D9;
	padding: 2px 2px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	transition:  all 0.3s ease 0s;
}
.hits-products__swiper-pagination .swiper-pagination-bullet-active {
	width: 16px;
	height: 16px;
	background-color: var(--color-orange);
}

.hits-products__arrows {
	padding: 0 5px;
	position: absolute;
    top: 250px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.hits-products__arrow.swiper-button-prev,
.hits-products__arrow.swiper-button-next {
    position: static;
    width: 8.925px;
		height: 24px;
    background: url(../img/arrow_right.svg) no-repeat;
}
.hits-products__arrow::after {
    display: none;
}
.hits-products__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

/* sale-products swiper */
.sale-products__wrapper {
	display: flex;
	justify-content: space-between;

}
.sale-products__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sale-products__swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
	margin-top: 15px;
	min-height: 16px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -6px;
}
.sale-products__swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	background-color: #D9D9D9;
	padding: 2px 2px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	transition:  all 0.3s ease 0s;
}
.sale-products__swiper-pagination .swiper-pagination-bullet-active {
	width: 16px;
	height: 16px;
	background-color: var(--color-orange);
}

.sale-products__arrows {
	padding: 0 5px;
	position: absolute;
    top: 250px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sale-products__arrow.swiper-button-prev,
.sale-products__arrow.swiper-button-next {
    position: static;
    width: 8.925px;
		height: 24px;
    background: url(../img/arrow_right.svg) no-repeat;
}
.sale-products__arrow::after {
    display: none;
}
.sale-products__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

/* popular-products swiper */
.popular-products__wrapper {
	display: flex;
	justify-content: space-between;

}
.popular-products__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.popular-products__swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: static;
	margin-top: 15px;
	min-height: 16px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: -6px;
}
.popular-products__swiper-pagination .swiper-pagination-bullet {
	opacity: 1;
	background-color: #D9D9D9;
	padding: 2px 2px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	transition:  all 0.3s ease 0s;
}
.popular-products__swiper-pagination .swiper-pagination-bullet-active {
	width: 16px;
	height: 16px;
	background-color: var(--color-orange);
}

.popular-products__arrows {
	padding: 0 5px;
	position: absolute;
    top: 250px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.popular-products__arrow.swiper-button-prev,
.popular-products__arrow.swiper-button-next {
    position: static;
    width: 8.925px;
		height: 24px;
    background: url(../img/arrow_right.svg) no-repeat;
}
.popular-products__arrow::after {
    display: none;
}
.popular-products__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

.product__image img {
	max-width: 100%;
}
@media (max-width: 768px) {
	.product {
		max-width: 233px;
		padding: 15px 10px;
	}

	.products__title {
		font-size: 20px;
	}
	.card-modal {
		padding: 30px 20px;
		height: 100%;
	}
	.cart-content__bottom {
		align-items: flex-end;
	}
	.card-content__group {
		flex-direction: column;
	}
	.cart-content__link {
		padding: 14px 17px;
	}
}
@media (max-width: 499px) {
	.products {
		margin-top: 50px;
	}
	.cart-content__bottom  {
		flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	.cart-content__button {
		order: 3;
	}
}
@media (max-width: 460px) {
	.product {
		max-width: 280px;
	}
	.new-products__arrows {
		display: none;
	}
	.hits-products__arrows {
		display: none;
	}
	.sale-products__arrows {
		display: none;
	}
	.popular-products__arrows {
		display: none;
	}
	.products__title {
		text-align: center;
	}
}
/* about-promotions */
.about-promotions {
	margin-top: 70px;
	background-color: var(--color-dark-blue);
}
.about-promotions__container {
	padding: 50px 0px;
}
.about-promotions__title {
	text-align: center;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: var(--color-white);
}
.about-promotions__form {
	margin-top: 30px;
}
.form-promotions {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	gap: 30px;
}
.form-promotions__item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}
.form-promotions__title {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	color: var(--color-white);
}
.form-promotions__input {
	padding: 15px 19px;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	font-family: 'Montserrat', sans-serif;
	outline: none;
	border-radius: 5px;
	color: var(--color-black);
	background-color: var(--color-white);
}

@media (max-width: 768px) {
	.about-promotions__container {
		padding: 50px 20px;
	}
	.form-promotions__item {
		display: block;
	}
	.form-promotions__title {
		margin-bottom: 10px;
	}
	.about-promotions__title {
		font-size: 24px;
	}
}
@media (max-width: 499px) {
	.about-promotions__container {
		padding: 40px 20px;
	}
	.about-promotions {
		margin-top: 50px;
	}
	.form-promotions__item {
		width: 100%;
	}
	.form-promotions__input {
		width: 100%;
	}
	.form-promotions__button {
		width: 100%;
	}
}

/* footer */
.footer {
	margin-top: 70px;
	padding-top: 30px;
	border-top: 1px solid #D9D9D9;
}
.footer__body {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 20px;
}
.footer__title {
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #A7A7A7;
	margin-bottom: 20px;
}
.footer__link {
	margin-bottom: 10px;
}
.footer__link:last-child {
	margin-bottom: 0;
}
.footer__link a {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-blue);
}
.footer__number {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
	margin-bottom: 10px;
}
.footer__link-icon {
	display: flex;
  align-items: center;
  gap: 10px;
	margin: 20px 0;
}
.footer__adress {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}
.footer__img img {
	width: 24px;
	height: 30px;
}
.footer__text {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: var(--color-black);
}
.footer__schedule {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__copyright {
	padding: 30px;
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: #A7A7A7;
}

@media (max-width: 768px) {
	.footer__body {
		flex-wrap: wrap;
		row-gap: 20px;
	}
}
